SIGN_NAME='阿里云短信测试'
TEMPLATE_CODE='SMS_154950909'
ACCESS_KEY='LTAI5tFTDF1LiAfktvDdRCJB'
ACCESS_KEY_SECRET='MYAF57DdcwrukBT7L64OK5FZT0xgf7'
JWT_SECRET=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_PWD=
MYSQL_DB=
WXPAY_DIR=
WXPAY_APPID=
WXPAY_MCHID=
WXPAY_URL=https://xxx.com/wx/wxpayResult
WXPAY_APIV3KEY=